a:hover {
    text-decoration: none;
}

.masonry-item {
    width: 25%;
    padding: 2%;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .masonry-item {
        width: 33.333%;
    }
}

@media (max-width: 992px) {
    .masonry-item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .masonry-item {
        width: 100%;
    }
}

.masonry-item img {
    width: 100%;
}
