* {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: azure;
}
h1 {
  text-align: center;
}
ul {
  border: 1px solid magenta;
  float: left;
  padding: 0;
  margin: 2px;
  max-width: 80%;
  background: white;
}
  li {
    list-style: none;
  }
  li h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
    li a {
      width: 100%;
      display: block;
      padding: 10px;
      border-top: 1px solid;
    }
    li a:hover {
      background: #08c;
      color: white;
      text-decoration: none;
    }
.hapus {
  clear: both;
}
hr {
  border-color: magenta;
}
