<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }} - {{ site.death }}{% else %}{{ site.title }} - Rajin pangkal pandai - {{ site.death }}{% endif %}</title>
  <meta name="author" content="{{ site.title }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - {{ site.title }}{% else %}{{ site.title | escape }} - Rajin Pangkal Pandai{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{% if page.gambar %}{{ site.url }}/gambar/{{ page.gambar }}{% else %}{{ site.url }}/gambar/{{ site.gambar }}{% endif %}">
  <meta property="og:type" content="blog">
  <meta content='150036038480252' property='fb:app_id'/>
  <meta content='100000415959373' property='fb:admins'/>
  <meta content='en_US' property='og:locale'/>
  <meta content='en_GB' property='og:locale:alternate'/>
  <meta content='id_ID' property='og:locale:alternate'/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} - {{ site.title }}{% else %}{{ site.title | escape }} - Rajin Pangkal Pandai{% endif %}">
  <meta name="twitter:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta property="twitter:image" content="{% if page.gambar %}{{ site.url }}/gambar/{{ page.gambar }}{% else %}{{ site.url }}/gambar/{{ site.gambar }}{% endif %}">

  <!-- CSS files -->
  <link rel="stylesheet" href="{{ site.url }}/css/roboto.css">
  <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml " | prepend: site.url }}" />

  <!-- Icons -->
  <!-- 16x16 -->
  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="{{ site.url }}/favicon.png">

  <script src="{{ site.url }}/js/jquery.min.js"></script>
</head>
