extends index.jade
block isi
	:markdown
		# Mencoba Fokus

		_Minggu, 10 Juli 2016_

		Idealnya tu ya, satu waktu itu hanya diisi dengan satu pekerjaan, nggak langsung diisi dengan banyak pekerjaan. Kalau misalnya kita lagi nulis ya nulis aja gitu nggak usah diisi dengan yang lain. Misalnya aja nulis sambil main hape, makan sambil nonton tipi, belajar sambil facebookan, dengerin ceramah sambil update status. Kan jadinya nggak bagus tu ya. Kalau kita dalam satu waktu itu mengerjakan lebih dari satu pekerjaan, maka akibatnya:

		* Nggak bisa menikmati pekerjaan yang kita lakukan. Misalnya aja padahal makanannya enak tapi nggak bisa menikmati keenakannya karena sambil ngikutin keseruan tayangan tipi.
		* Pekerjaan yang kita lakukan nggak bisa maksimal karena fokus kita terbagi. Misalnya aja padahal khotib lagi nyampein suatu hikmah yang membuat hati kita tersentuh tapi kita malah ketawa-ketawa aja karena sambil baca komiknya si Juki.
		* Rawan kesalahan. Misalnya aja sambil motong kayu besar menggunakan alat-alat berat tapi kita sambil joget-jogetan.

		Ngeri banget ya akibatnya.

		Nah, mendingan kita fokus aja dalam mengerjakan satu pekerjaan.