extends index.jade
block isi
	:markdown
		# Besok Harus Lebih Baik!

		_Kamis, 7 Juli 2016_

		Yang namanya pribadi yang memiliki pengetahuan, tentu saja tak etis lah kalau kita selalu jatuh ke lubang yang sama. Apalagi Rasulullah _shallallahu alaihi wa sallam_ sudah menegaskan hal tersebut.

		Nah, kita nggak mau tinggal diam kan ya kalau kita melihat kamar kita berantakan? Kita nggak mau tinggal diam kan ya kalau melihat segala halnya berantakan? Kita nggak mau tinggal diam kan ya kalau ada begitu banyak informasi berseriweran di sekitar kita? Apakah kita tetep cuek atau kita mau mengambil bagian dalam kehidupan ini?

		Yah, untungnya saja sekarang ini aku dah bisa sedikit mengendalikan diriku lah, jadi nulis tu ya malam aja. Apalagi sudah ada pengetahuan tentang Jade dan Github. Alhamdulillah, sudah nggak bingung lagi sama hobi blogging ini lah. Blogging tetep jalan tapi kehidupan harus terus jalan. Apalagi kita menginginkan kehidupan yang lebih baik kan ya. Nggak gini-gini terus.

		Apa sih parameter 'lebih baik' itu?

		Kalau kita hanya memberikan penilaian lebih baik itu atas diri kita sendiri, maka kita akan menjadi seperti 'kura-kura di dalam tempurung'. Kita tak tau kondisi yang sebenarnya. Makanya, kita tu harus banyak bergaul ya. Harus terhubung dengan orang-orang. Tidak menyendiri dalam dunia yang entah apalah itu. Untungnya saja ketika iktikaf kemaren tu aku dapat dah pengetahuan tentang ini. Pengetahuan (atau lebih tepatnya disebut sebagai makrifat) bahwa 'banyak banget lo manfaat yang bisa dipetik kalau kita banyak berinteraksi dengan orang lain. Terutama dengan banyak menyimak, bukan hanya mendengarkan (walaupun mendengarkan saja kita masih susah karena lebih banyak berkomentar)'

		Nah, betul dah kalau orang bilang bahwa pelajaran kehidupan itu tak hanya bisa didapat dengan pelajaran formal saja. Kita harus mencarinya. Pertama-tama yang harus dilakukan tentu saja menajamkan intuisi kita terlebih dahulu. Yaitu dengan banyak menyimak, merenung, mengkalkulasi, memahami situasi, dan berbagai keterampilan lainnya yang hanya bisa didapatkan kalau kita benar-benar fokus berinteraksi dengan lingkungan.