//- token harus angka
- var token = 20789779

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Blog
		link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="js/data.js?#{token}")
		script(src="js/app.js")
	body
		.jumbotron
			.container
				h1.text-center Blog
		.container
			.row
				.col-sm-9
					.panel.panel-default.isi
						.panel-body
							block isi
								:markdown
									# Hello World

									_Selasa, 5 Juli 2016_

									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, reiciendis, dolores asperiores quis minus libero optio saepe nobis earum hic dicta alias aliquam, tempora laudantium recusandae quasi deserunt! Voluptatem impedit quia nobis molestiae sed magni perferendis doloremque nisi itaque distinctio, molestias architecto, maxime necessitatibus dignissimos omnis pariatur vel ullam nostrum quam magnam. Sunt debitis sequi, aut ut ullam, illum recusandae sint molestias dolorem qui voluptates, quasi quaerat libero magnam veritatis, nemo assumenda. Ratione natus repellat, sit voluptatibus aliquam tempore officiis perferendis unde saepe numquam eos obcaecati culpa. Nemo, voluptate eligendi quam quisquam numquam officiis sit quibusdam nesciunt ipsum similique a.

									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat sit ea possimus, sed officiis error a nostrum illum quam amet nam mollitia nemo reiciendis neque eaque veritatis repellendus porro, cumque sunt consectetur quisquam quas. Culpa nisi quidem eum provident repudiandae natus. Distinctio architecto debitis asperiores, sit iste aliquam. Iste, ab.
				.col-sm-3
					include _sidebar.html
