extends index.jade
block isi
	:markdown
		# Aturan Penggunaan Kuota

		_Sabtu, 9 Juli 2016_

		Pembagian paket data atau kuota internet menjadi dua paket, yaitu paket malam dan paket 24 jam memang menjadi masalah kalau tidak diatur dengan baik. Pastinya yang habis duluan itu paket 24 jam. Makanya, aku membuat aturan ini supaya paket 24 jamnya nggak habis duluan. Kalau tinggal yang paket malam kan makenya jarang. Apalagi media sosial jarang kan yang malam-malam.

		Berikut ini adalah aturannya:

		## Paket 24 Jam

		1. Anggap aja kayak nggak punya kuota. Jadi, makenya ya kayak sms aja gitu. Macam whatsapp, line, messenger. Kan nggak ngabisin kuota banyak tu.
		2. Kalau misalnya mau buka apa gitu. Bahkan cuma Opera Mini. Bukanya malam aja. Kecuali kalau darurat.
		3. Biar nggak lupa, mau dipake apa di paket malam, discreenshot aja lah.

		## Paket Malam

		1. Bebas. Kalau bisa, disiapin buat paket 24 jam.
		2. Kasih alarm buat nandain kalau paket malam mau habis.