extends index.jade
block isi
	:markdown
		# Menebar Kemanfaatan

		_Minggu, 10 Juli 2016_

		Kita punya tangan. Kita punya kaki. Kita punya akal. Kita punya perasaan. Kita punya akal. Kita punya koneksi. Kita punya kepercayaan. Kita punya tanggung jawab. Kita punya keterampilan. Kita punya seni. Kita punya budaya. Kita punya peradaban.

		Kita.

		Manusia.

		Lantas, apa yang bisa kita perbuat dengan semuanya itu? Kita sia-siakan? Kita menunggu orang untuk dapat mengeksploitasi tubuh (tenaga) kita? Kita bermalas-malasan? Kita nggak mengembangkan diri? Kita sendiri? Tak berkolaborasi? Tak berusaha? Tanpa berjuang?

		Lantas.

		Buat apa kita hidup?

		Coba kita lihat tangan kita. Kita gerakkan jari-jemari kita. Kita lambaikan tangan kita. Kita genggam polpen. Kita mainkan jari-jemari kita. Kita coba mengetik di laptop. Kita coba bermain pe es. Kita coba _push up_ dengannya. Kita coba membuat gerakan-gerakan rahasia dengan jari-jemari kita. Kita bisa.

		Tapi..

		Suatu saat..

		Kita tak bisa lagi bermain dengan tangan-tangan kita. Kita sudah hancur lebur dimakan tanah. Kita sudah tak tau apa itu hidup. Kita merasa bahwa nggak ada yang namanya dunia. Kita takut pada apa yang akan dilakukan Rabb kita kepada kita. Kita tak tau lagi apa yang bisa kita lakukan. Kita menyesal. Kita ingin menangis tapi air mata sudah kering terhadap dahsyatnya siksa-siksa yang diperlihatkan pada kita.

		Di padang yang datar.

		Tandus.

		Dalam antrian yang sangaaaaaaaaaaat panjang.

		Semua cemas.

		Semua khawatir.

		Menghitung dosa-dosa.

		"Ampuni kami"

		"Maafkan kami"

		..pinta mereka

		termasuk kita..

		Hari-hari itu belum datang kepada kita. Kita masih di bumi. Kita masih bisa berbuat. Kita masih bisa berbuat baik. Kita bisa menebus kesalahan-kesalahan kita. Kita masih bisa mencuri perhatian Tuhan kita dengan menunjukkan diri bahwa kitalah yang dimaksud sebagai khalifah, yang pantas melestarikan bumi. Kita tunjukkan pada Tuhan kita bahwa kita cinta kebersihan, kita cinta keteraturan, kita cinta pada aturan-aturan yang telah ditetapkan oleh-Nya, kita bahagia bahwa Tuhan masih memberikan ampunan pada kita, kita senang bahwa Allah masih peduli pada kita dengan diutusnya Rasul-Rasul, kita senang kalau kita masih bisa membuat orang lain bahagia, tersenyum, ceria, teringat akan kesalahan-kesalahan, bertobat bersama, bersama dalam ketaatan. Kita. Mereka.

		Ya Allah,

		..ampunilah kami