extends index.jade
block isi
	:markdown
		# Hari Baru!

		_Kamis, 7 Juli 2016_

		Besok tentunya harus lebih baik daripada hari ini. Ingat selalu prinsip ini:

		Dream it. Plan it. Do it.

		Simpel aja sih tapi itu maknanya dalam banget ya.

		Apalagi seakan-akan menyindir kehidupan kita saat ini yang menghabiskan sebagian besar waktunya hanya untuk browsing tapi nggak ada _action_ sama sekali. 'Dream it. Plan it. Do it': Impikanlah. Rencanakanlah. Lakukanlah. Simpel banget sih ya tapi terkadang kita kalah dah sama setan yang ngajak malas-malasan, ngajak supaya kita nggak produktif. Ngajak boros. Ngajak berbuat jahat. Ngajak berbuat curang. Ngajak supaya kita merugi di dunia ini karena tak melakukan apapun, terlebih lagi rugi di akhirat. _Innalillah..._

		Jadi mulai besok harus membuat rencana-rencana nih biar hidup nggak sia-sia.