extends index.jade
block isi
	:markdown
		# Pentingnya Keterampilan

		_Senin, 11 Juli 2016_

		Mengapa orang-orang yang saat ini memiliki banyak uang berasal dari orang-orang yang dulunya tidak mampu? Mengapa terkadang kita melihat orang-orang yang sudah berpunya sudah tak mau berusaha lagi? Mengapa kita melihat pemuda-pemuda kampung lebih bersemangat dan lebih _grapyak_ daripada pemuda-pemuda kota? Mengapa dan mengapa... Mengapa kita melihat suatu pola yang seakan selalu sama.

		Tak punya

		Berusaha

		Terus bergerak

		Terampil

		Sukses

		Pola yang selalu sama...

		Pernah ada yang mengatakan bahwa _hacker_ terhebat adalah _hacker_ yang tak pernah menampakkan eksistensinya. Sedangkan, _hacker_ yang sering atau setidaknya pernah menampakkan dirinya, secara sadar, maka sesungguhnya dia masih _newbie_ atau paling tidak masih _script kiddies_ lah.

		Mengapa bisa begitu?

		Karena _hacker_ yang hebat itu sadar bahwa keterampilan lebih penting daripada hanya sekedar nama. "Nama itu hampa, karya itu nyata," kata Chairil Anwar (mungkin). Lagipula buat apa menampakkan dirinya. Malah hanya menjadikan dirinya lupa daratan dan tak ada hasrat lagi untuk meningkatkan keterampilannya.

		Intinya kan ya, kita tu jangan pelit-pelit untuk banyak bergerak, banyak berbagi, banyak beramal. Toh, itu juga akan balik ke diri kita sendiri juga. Kita jadi terampil. Kita jadi memiliki 'masa depan'. Apalagi kalau kita ikhlas. Insya Allah, jatah kita di akhirat itu ada.

		Jangan malas-malas bersihin rumah ya...