/*
* FlatPack HTML V1
* Copyright 2014 PixFort
* www.pixfort.com
* 28/10/2014
*/


/* Table of Content
==================================================

    Part 0:  #Misc
    Part 1:  #Header
    Part 2:  #Contact
    Part 3:  #Partners
    Part 4:  #Features
    Part 5:  #Video & Contact
    Part 6:  #Testimonials
    Part 7:  #Footer

==================================================
*/

/*  Part 0:  #Misc    */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);

body{ font-family: 'Open Sans', sans-serif; !important; }

.pixfort_business_10 iframe.c1 {border:none; overflow:hidden; height:20px;width:50px; }

/*  Part 1: #Header     */

     .pixfort_business_10 .header_style{background: #fff;
        padding: 25px 0px;
        border-bottom: 3px solid #ddd;
     }

    .pixfort_business_10 .yt_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/yt.png");
        margin-left: 5px;
    }

    .pixfort_business_10 .yt_button:hover{background: url("../images/Social_icons/youtube-hover.png");
        float: right;
    }

    .pixfort_business_10 .twitter_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/twitter.png");
        margin-left: 5px;
    }

    .pixfort_business_10 .twitter_button:hover{float: right;
        background: url("../images/Social_icons/twitter-hover.png");
    }

    .pixfort_business_10 .facebook_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/facebook.png");
        margin-left: 5px;
    }

    .pixfort_business_10 .facebook_button:hover{float: right;
        background: url("../images/Social_icons/facebook-hover.png");
    }

    .pixfort_business_10 .htext_style{color:#a9a9a9;
        font-size:14px;
        float: right;
        margin-right: 15px;
        padding-top: 5px;
        display: inline-block;
    }

/*  Part 2: #Contact     */

    .pixfort_business_10 .page_style {background: url("../images/10_business/bg.png") #55516d fixed no-repeat center top ;
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
        padding-top: 80px;
    }

    .pixfort_business_10 .text_zone{position: relative;
        display: inline-block;
        width: 370px;
        float: left;
    }

    .pixfort_business_10 .TT1 {color: #000;
        font-size: 36px;
        font-family:  open sans, sans-serif;
        font-weight: 600;
        line-height: 150%;
    }

     .pixfort_business_10 .segment{background: #5b9a68;
        width: 70px;
        height: 5px;
        margin: 10px 0px;
    }

    .pixfort_business_10 .TT2 {color:#2f4f4f;
        font-size: 16px;
        font-family:  open sans, sans-serif;
        line-height: 26px;
        padding-bottom: 20px;
        max-width:370px;
    }

    .pixfort_business_10 .check_st{text-align: left;
    }

    .pixfort_business_10 .carac_st {font-size:14px;
        font-weight: 600;
        font-style: italic;
        position: relative;
        top: -10px;
        line-height: 200%;
    }

    .pixfort_business_10 .apply_btn{text-align: left;

    }

    .pixfort_business_10 .apply_btn a {background: rgba(103,67,151,0.0);
          color: #5b9a68;
          border: 2px solid #5b9a68;
          border-radius: 3px;

          font-family: 'open sans', sans-serif;
          font-weight: bold;
          font-size: 16px;

          position: relative;
          display: inline-block;
          margin-top: 35px;

          padding: 12px 45px;
          text-decoration: none;
           -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
    }

    .pixfort_business_10 .apply_btn a:hover {background: #5b9a68 ;
          color: #fff;
     }

     .pixfort_business_10 .picture_zone img {position: relative;
          display: inline-block;
          width: 53%;
          margin-top: 30px;
          margin-bottom: 0px;
          vertical-align: bottom;
          float: right;
     }

/*  Part 3: #Partners     */

    .pixfort_business_10 .logos_sect{background: #f6f6f6;
        background-size: cover;
        text-align: center;
    }

    .pixfort_business_10 .padd_updown{padding: 30px 0px;
        text-align: center;
        position: relative;
    }

    .pixfort_business_10 .logos_width{ display: inline-block;
    }


/*  Part 4: #Features     */

    .pixfort_business_10 .bundle_section {background:  #fff;
        text-align: center;
        padding-bottom: 50px;
        border: 1px solid #ddd;
    }


    .pixfort_business_10 .onethird_st{text-align: center;
        position: relative;
        display: inline-block;
        max-width: 250px;
    }

    .pixfort_business_10 .what_st{ color:#5b9a68;
        font-size:20px;
        font-family:  open sans, sans-serif;
        font-weight: 600;
        line-height: 100%;
        padding-top: 40px;
    }

    .pixfort_business_10 .great_st{ color:#808080;
        font-size:16px;
        font-family:  open sans, sans-serif;
        padding-bottom: 30px;
    }

    .pixfort_business_10 .icons_style {background: linear-gradient(rgb(141, 211, 156), rgb(91, 154, 104));
        position: relative;
        width: 90px;
        height: 90px;
        text-align: center;
        border-radius: 45px;
        display: inline-block;
    }

    .pixfort_business_10 .icon_st {position: relative;
        display: inline-block;
        top: 22%;
        width: 50%;
    }

    .pixfort_business_10 .T1 {color:#696969;
        text-align: center;
        font-size: 22px;
        font-family:  open sans, sans-serif;
        font-weight: 500;
         padding-top: 30px;
    }

    .pixfort_business_10 .T2 {color: rgb(169, 169, 169);
        text-align: center;
        font-size: 16px;
        font-family:  open sans, sans-serif;
        line-height: 26px;
    }

/*  Part 5: #Features     */


    .pixfort_business_10 .why_section {background: #f5f5f5;
    padding: 50px  0px;
    }

    .pixfort_business_10 .left_zone {position: relative;
        display: inline-block;
        width: 100%;
        float: left;
        padding-bottom: 30px;
    }


    .pixfort_business_10 .title_st {color:#000000;
        font-size: 26px;
        font-family: 'open sans', sans-serif;
        padding-top: 25px;
        text-align: left;
    }

    .pixfort_business_10 .txt_st{color:#a9a9a9;;
        font-size:18px;
        font-family: 'open sans', sans-serif;

        text-align: left;
        line-height: 150%;
        padding-bottom: 15px;

    }

    .pixfort_business_10 .video_style iframe, .pixfort_business_10 .video_style object, .pixfort_business_10 .video_style video, .pixfort_business_10 .video_style embed {//position: relative;
        //display: inline-block;
        width:100%;
        height: 300px;
    }

    .pixfort_business_10 .text_input{background: #fff;
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        padding: 4px 0;
    }

    .pixfort_business_10 .headtext_style{color:#000;
    	font-size:26px;
    	font-family: 'open sans', sans-serif;
        line-height: 100%;
        text-align: left;
        padding: 30px 20px 30px 20px;

    }


    .pixfort_business_10 .subtext_style {color:#a9a9a9;
        font-size:18px;
    	font-family: 'open sans', sans-serif;
        max-width:320px;

        text-align: left;
        padding: 0px 20px;
        padding-bottom: 14px;
    }

    .pixfort_business_10 .subscribe_btn {background: #5b9a68;
      	padding: 30px 30px 5px 15px;
      	border: none;
      	border-radius: 3px;

      	color: #fff;
      	margin: 0;

        position: relative;
      	width: 100%;
      	height: 48px;
      	font-family: 'open sans', sans-serif;
      	font-weight: normal;
      	font-size: 16px;

        padding: 10px;
    }


    .pixfort_business_10 .subscribe_btn:hover {background: #459253;
        color: #fff;
        padding-top: 50px;
        margin: 0;
      	padding: 10px;
    }

    .pixfort_business_10 .contact_st fieldset{position: relative;
        display: inline-block;
        width: 100%;
    }

    .pixfort_business_10 #contact_form {position: relative;
        width: 100%;

        padding-left:20px;
        padding-right:20px;

        box-sizing:border-box;
    }

    .pixfort_business_10 #contact_form  input {background: #eee;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 3px;
        color: #888;

        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 16px;

        width: 100%;
        height: 48px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .pixfort_business_10 .note_st {text-align: left;
        color:#bea6dd;
        font-size:13px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding: 5px 20px 17px 20px;
    }


/*  Part 6: #Testimonials     */

   .pixfort_business_10 .envato_unbounce {background: url("../images/10_business/bg.png") #55516d fixed no-repeat center top ;
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;

        text-align: center;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_business_10 .cadre_st{padding-top: 50px;
        padding-bottom: 15px;
    }

    .pixfort_business_10 .L1_style{color:#5b9a68;
        font-size:20px;
        text-align: center;
        line-height: 100%;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_business_10 .L3_style{color:#a9a9a9;
        font-size: 16px;
        text-align: center;
        font-family: 'open sans', sans-serif;
        margin-bottom: 40px;
    }

    .pixfort_business_10 .box_1 {background: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #eee;

        position: relative;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .pixfort_business_10 .box_2 {background: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #eee;
        position: relative;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .pixfort_business_10 .b_style {
        position: relative;
        display: inline-block;
        float: left;
    }

    .pixfort_business_10 .logo_style {border-radius: 100%;
         height: auto;
         margin-left: 10px;
         margin-top: 15px;
    }

    .pixfort_business_10 .txt_style {
        float: right;
        font-family: 'open sans', sans-serif;
        color:#808080;
        max-width: 74%;
        padding:  10px 10px;
        text-align: left;
        font-size: 14px;
        display: inline-block;
        position: relative;
    }

    .pixfort_business_10 .stars_st{width: 30%;
    }

    .pixfort_business_10 .env_st {color:#59a3fc;
        position: relative;
        top: -2px;
    }


/*  Part 6: #Footer     */

    .pixfort_business_10 .foot_st{background: #f6f6f6;
        text-align: center;
    }

     .pixfort_business_10 .bg_foot{background: #f2f2f2;
        text-align: center;
    }

    .pixfort_business_10 .rights_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding-top: 25px;
        position: relative;
        display: inline-block;
    }

    .pixfort_business_10 .pixfort_st{color:#5b9a68;
        font-weight: bold;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        position: relative;
        display: inline-block;
    }

    .pixfort_business_10 .likes_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        position: relative;
        display: inline-block;
        padding-right: 15px;
        padding-top: 25px;
        float: right;
    }

    .pixfort_business_10 .socbuttons{
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 10px;
        width: 100%;
    }

    .pixfort_business_10 .soc_icons{
        border-radius: 3px;
        position: relative;
        display:inline-block;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 15px;
        float: right;
    }


  /* ------------------------------------------------------------------------------------ */


    .confirm_page{
        display:none;
        height: auto;
    }
    .confirm_page_10{
        background: #5b9a68; 
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.3) !important;
        border-radius: 2px;
        width: 500px;
        max-width: 100%;
    }
    .pixfort_business_10 .confirm_header{
        text-align: center;
        color:#fff;
        margin-left: auto;
        margin-right: auto;

        line-height: 35px;
        width: 500px;
        max-width: 100%;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 26px;
        padding-top: 40px;
    }
    .pixfort_business_10 .confirm_text{
        text-align: center;
        font-size:16px;
        color:rgba(255,255,255,0.7);
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        padding-bottom: 30px;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    .pixfort_business_10 .confirm_logo{
        text-align: center;
        padding: 20px;
    }
    .pixfort_business_10 .confirm_social{
        text-align: center;
    }
    .pixfort_business_10 .confirm_social .confirm_social_box{
         background: rgba(0,0,0,0.2);
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        padding: 10px 6px;
        border-radius: 3px;
        padding-bottom: 0px;
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2) !important;
    }
    .pixfort_business_10 .confirm_gp {
        position: relative;
        top: -15px !important;
        padding: 0px 20px;
    }


    .pixfort_business_10 .success{
        background: #CFFFF5;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #B9ECCE;
        border-radius: 5px;
        font-weight: normal;
    }
    .pixfort_business_10 .error{
        background: #FFDFDF;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFCACA;
        border-radius: 5px;
        font-weight: normal;
    }