/*
* FlatPack HTML V1
* Copyright 2014 PixFort
* www.pixfort.com
* 28/10/2014
*/


/* Table of Content
==================================================

    Part 0:  #Misc
    Part 1:  #Header
    Part 0:  #Video & Contact
    Part 0:  #Footer

==================================================
*/

/*  Part 0:  #Misc    */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);

body{ font-family: 'Open Sans', sans-serif; !important; }

iframe.c1 {border:none; overflow:hidden; height:20px;width:50px; }

/*  Part 1:  #Header    */

     .pixfort_form_11 .header_style{background: #fff;
        padding: 25px 0px;
        border-bottom: 3px solid #ddd;
     }

    .pixfort_form_11 .yt_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/yt.png");
        margin-left: 5px;
    }

    .pixfort_form_11 .yt_button:hover{background: url("../images/Social_icons/youtube-hover.png");
        float: right;
    }

    .pixfort_form_11 .twitter_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/twitter.png");
        margin-left: 5px;
    }

    .pixfort_form_11 .twitter_button:hover{float: right;
        background: url("../images/Social_icons/twitter-hover.png");
    }

    .pixfort_form_11 .facebook_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/facebook.png");
        margin-left: 5px;
    }

    .pixfort_form_11 .facebook_button:hover{float: right;
        background: url("../images/Social_icons/facebook-hover.png");
    }

    .pixfort_form_11 .htext_style{color:#a9a9a9;
        font-size:14px;
        float: right;
        margin-right: 15px;
        padding-top: 5px;
        display: inline-block;
    }

/*  Part 2:  #Video & Contact    */

    .pixfort_form_11 .why_section {background: #f5f5f5;
    padding: 50px  0px;
    }

    .pixfort_form_11 .left_zone {position: relative;
        display: inline-block;
        width: 100%;
        float: left;
        padding-bottom: 30px;
    }


    .pixfort_form_11 .title_st {color:#000000;
        font-size: 26px;
        font-family: 'open sans', sans-serif;
        padding-top: 25px;
        text-align: left;
    }

    .pixfort_form_11 .txt_st{color:#a9a9a9;;
        font-size:18px;
        font-family: 'open sans', sans-serif;

        text-align: left;
        line-height: 150%;
        padding-bottom: 15px;

    }

    .pixfort_form_11 .video_style iframe, .pixfort_form_11 .video_style object, .pixfort_form_11 .video_style video, .pixfort_form_11 .video_style embed {
        width:100%;
        height:300px ;
    }

    .pixfort_form_11 .text_input{background: #fff;
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
    }

    .pixfort_form_11 .headtext_style{color:#000;
    	font-size:26px;
    	font-family: 'open sans', sans-serif;
        line-height: 100%;
        text-align: left;
        padding: 30px 20px 30px 20px;

    }


    .pixfort_form_11 .subtext_style {color:#a9a9a9;
        font-size:18px;
    	font-family: 'open sans', sans-serif;
        max-width:320px;

        text-align: left;
        padding: 0px 20px;
        padding-bottom: 14px;
    }

    .pixfort_form_11 .subscribe_btn {background: #5b9a68;
      	padding: 30px 30px 5px 15px;
      	border: none;
      	border-radius: 3px;

      	color: #fff;
      	margin: 0;

        position: relative;
      	width: 100%;
      	height: 48px;
      	font-family: 'open sans', sans-serif;
      	font-weight: normal;
      	font-size: 16px;

        padding: 10px;
    }


    .pixfort_form_11 .subscribe_btn:hover {background: #459253;
        color: #fff;
        padding-top: 50px;
        margin: 0;
      	padding: 10px;
    }

    .pixfort_form_11 .contact_st fieldset{position: relative;
        display: inline-block;
        width: 100%;
    }

    .pixfort_form_11 #contact_form {position: relative;
        width: 100%;

        padding-left:20px;
        padding-right:20px;

        box-sizing:border-box;
    }

    .pixfort_form_11 #contact_form  input {background: #eee;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 3px;
        color: #888;

        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 16px;

        width: 100%;
        height: 48px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .pixfort_form_11 .note_st {text-align: left;
        color:#bea6dd;
        font-size:13px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding: 5px 20px 17px 20px;
    }


 /*  Part 3: #Footer     */

    .pixfort_form_11 .foot_st{background: #f6f6f6;
        text-align: center;
    }

     .pixfort_form_11 .bg_foot{background: #f2f2f2;
        text-align: center;
    }

    .pixfort_form_11 .rights_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding-top: 25px;
        position: relative;
        display: inline-block;
    }

    .pixfort_form_11 .pixfort_st{color:#5b9a68;
        font-weight: bold;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        position: relative;
        display: inline-block;
    }

    .pixfort_form_11 .likes_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        position: relative;
        display: inline-block;
        padding-right: 15px;
        padding-top: 25px;
        float: right;
    }

    .pixfort_form_11 .socbuttons{
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 10px;
        width: 100%;
    }

    .pixfort_form_11 .soc_icons{
        border-radius: 3px;
        position: relative;
        display:inline-block;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 15px;
        float: right;
    }




  /* ------------------------------------------------------------------------------------ */





    .confirm_page{
        display:none;
        height: auto;
    }
    .confirm_page_11{
        background: #5b9a68; 
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.3) !important;
        border-radius: 2px;
        width: 500px;
        max-width: 100%;
    }
    .pixfort_form_11 .confirm_header{
        text-align: center;
        color:#fff;
        margin-left: auto;
        margin-right: auto;

        line-height: 35px;
        width: 500px;
        max-width: 100%;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 26px;
        padding-top: 40px;
    }
    .pixfort_form_11 .confirm_text{
        text-align: center;
        font-size:16px;
        color:rgba(255,255,255,0.7);
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        padding-bottom: 30px;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    .pixfort_form_11 .confirm_logo{
        text-align: center;
        padding: 20px;
    }
    .pixfort_form_11 .confirm_social{
        text-align: center;
    }
    .pixfort_form_11 .confirm_social .confirm_social_box{
         background: rgba(0,0,0,0.2);
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        padding: 10px 6px;
        border-radius: 3px;
        padding-bottom: 0px;
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2) !important;
    }
    .pixfort_form_11 .confirm_gp {
        position: relative;
        top: -15px !important;
        padding: 0px 20px;
    }


    .pixfort_form_11 .success{
        background: #CFFFF5;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #B9ECCE;
        border-radius: 5px;
        font-weight: normal;
    }
    .pixfort_form_11 .error{
        background: #FFDFDF;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFCACA;
        border-radius: 5px;
        font-weight: normal;
    }