/*
* FlatPack HTML V1
* Copyright 2014 PixFort
* www.pixfort.com
* 28/10/2014
*/


/* Table of Content
==================================================

     Part 0: #Misc
     Part 1: #Header
     Part 2: #Contact & Video
     Part 3: #Footer

==================================================
*/

/*--- Part 0: #Misc  ---*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);

    body{ font-family: 'Open Sans', sans-serif; !important; }

    iframe.c1 {border:none; overflow:hidden; height:20px;width:50px; }


/*--- Part 1: #Header  ---*/

    .pixfort_subscribe_12 .header_style{background-color: #fff;
          padding: 25px 0px;
          box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.15);
    }

    .pixfort_subscribe_12 .fright{float: right;
    }

    .pixfort_subscribe_12 .htext_style{color:#a9a9a9;
          font-size:14px;
          float: right;
          margin-right: 15px;
          padding-top: 5px;
    }

    .pixfort_subscribe_12 .yt_button{float: right;
          height: 32px;
          width: 32px;
          background: url("../images/Social_icons/yt.png");
          margin-left: 5px;
    }

    .pixfort_subscribe_12 .yt_button:hover{float: right;
          background: url("../images/Social_icons/youtube-hover.png");
    }

    .pixfort_subscribe_12 .twitter_button{float: right;
          height: 32px;
          width: 32px;
          background: url("../images/Social_icons/twitter.png");
          margin-left: 5px;
    }

    .pixfort_subscribe_12 .twitter_button:hover{float: right;
          background: url("../images/Social_icons/twitter-hover.png");
    }

    .pixfort_subscribe_12 .facebook_button{float: right;
          height: 32px;
          width: 32px;
          background: url("../images/Social_icons/facebook.png");
          margin-left: 5px;
    }
    .pixfort_subscribe_12 .facebook_button:hover{float: right;
          background: url("../images/Social_icons/facebook-hover.png");
    }

/*--- Part 2: #Contact & Video  ---*/

    .pixfort_subscribe_12 .page_style{background: #eaeaea;
          text-align: center;
     }

    .pixfort_subscribe_12 .context_style{background-color: #fff;
          position: relative;
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;

          border-radius: 4px;
          overflow: hidden;

          color: #000000;
          font-family:'open sans', sans-serif;
          margin-top: 70px;
          padding: 30px 40px;
      }

      .pixfort_subscribe_12 .title_style{background-color: #fff;
          color: #000000;
          font-size: 26px;
          font-family: 'open sans', sans-serif;
          font-weight: bold;
          //padding-top: 40px;
      }

      .pixfort_subscribe_12 .subtitle_style{background-color: #fff;
          max-width: 50%;
          margin-left: auto;
          margin-right: auto;
          color: #a9a9a9;
          font-size: 18px;
          font-family: 'open sans', sans-serif;
          padding: 20px  0px;
      }

       .pixfort_subscribe_12 .email_subscribe{
         display: inline-block;
         position: relative;
         text-align: center;
         width: 75%;
       }



     .pixfort_subscribe_12 #contact_form  input {background: #eee;
        float: left;
        border-radius: 3px;
        color: #888;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        height: 36px;
        width:66% !important;
        display: inline-block;
        position: relative;
        width:66% !important;
        padding: 5px 5px !important;
      }
    
     .pixfort_subscribe_12 .subscribe_btn .subscribe_btn{background: #11b1c2;
          border-radius: 3px;
          color: #fff;
          font-family: 'open sans', sans-serif;
          font-weight: normal;
          font-size: 16px;
          text-decoration:none;

          position: relative;
          display: inline-block;
          float: right;
          padding: 12px 30px 12px 30px;
          border: none;
      }

      .pixfort_subscribe_12 .subscribe_btn  .subscribe_btn:hover {background: #0da5b8;
          color: #fff;
          border: none;
      }




     .pixfort_subscribe_12 .note_st {text-align: center;
          color:#d3d3d3;
          font-size:14px;
          font-family: 'open sans', sans-serif;
//          padding-bottom: 20px;
          text-align: left;
          position: relative;
          top: -15px;
     }


     .pixfort_subscribe_12 .coming_st {text-align: center;
         position: relative;
         font-family: 'open sans', sans-serif;
         width: 60%;
          margin-left: 20%;
     }

     .pixfort_subscribe_12 .tit_style {text-align: center;
        padding-top: 60px;
        font-family: 'open sans', sans-serif;
        font-size: 26px;
        font-weight: bold;
        color: #000000;
     }

     .pixfort_subscribe_12 .txt_style{text-align: center;
      color:#a9a9a9;
      font-size:18px;
      font-family: 'open sans', sans-serif;
     }

     .pixfort_subscribe_12 .video_style iframe {padding-top: 25px;
        padding-bottom: 55px;
        width: 600px;
        height: 337px;
        text-align: center;

     }

     .pixfort_subscribe_12 .pad_30{padding-top: 30px;

     }

/*--- Part 3: #Footer  ---*/

      .pixfort_subscribe_12 .foot_st{background: #fff;
          text-align: center;
      }



     .pixfort_subscribe_12 .rights_st{color:#a9a9a9;
      font-size:14px;
      font-family: 'open sans', sans-serif;
      text-align: left;
      padding-top: 25px;
      position: relative;
      display: inline-block;
     }

     .pixfort_subscribe_12 .pixfort_st{color:#11b1c2;
           font-weight: bold;
           font-size:14px;
           font-family: 'open sans', sans-serif;
           text-align: left;
           position: relative;
           display: inline-block;
     }

     .pixfort_subscribe_12 .likes_st{color:#a9a9a9;
          font-size:14px;
          font-family: 'open sans', sans-serif;

          position: relative;
          display: inline-block;
          padding-top: 25px;
          padding-right: 15px;
          float: right;

     }

     .pixfort_subscribe_12 .socbuttons{
          height: 100%;
          position: relative;
          display: inline-block;
          overflow: hidden;

          padding-bottom: 10px;
          width: 100%;
    }

      .pixfort_subscribe_12 .soc_icons{
          border-radius: 3px;
          position: relative;
          display:inline-block;

          padding-top: 10px;
          padding-bottom: 5px;
          padding-left: 5px;
          padding-right: 5px;

          margin-top: 15px;
          float: right;
      }




  /* ------------------------------------------------------------------------------------ */



    .confirm_page{
        display:none;
        height: auto;
    }
    .confirm_page_12 {
        background: #11b1c2; 
        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.3) !important;
        border-radius: 2px;
    }
    .confirm_page_12 .conf_img  {
        border-radius: 100%;
        display: inline-block;
        border:2px solid #fff;
        padding: 25px;
        margin-top: 15px ;
        margin-bottom: 5px;
        line-height: 50px;
    }
    .confirm_page_12 .conf_img {
        width: 50px;
        height: 50px;
    }
    .pixfort_subscribe_12 .confirm_header{
        text-align: center;
        color:#fff;
        line-height: 35px;
        width: 500px;
        max-width: 100%;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 26px;
    }
    .pixfort_subscribe_12 .confirm_text{
        text-align: center;
        font-size:16px;
        color:rgba(255,255,255,0.5);
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        padding-bottom: 30px;
        font-weight: bold;
    }
    .pixfort_subscribe_12 .confirm_logo{
        text-align: center;
        padding: 20px;
    }
    .pixfort_subscribe_12 .confirm_social{
        text-align: center;
    }
    .pixfort_subscribe_12 .confirm_social .confirm_social_box{
         background: rgba(0,0,0,0.2);
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        padding: 10px 6px;
        border-radius: 3px;
        padding-bottom: 0px;
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2) !important;
    }
    .pixfort_subscribe_12 .confirm_gp {
        position: relative;
        top: -15px !important;
        padding: 0px 20px;
    }


    .pixfort_subscribe_12 .success{
        background: #CFFFF5;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #B9ECCE;
        border-radius: 5px;
        font-weight: normal;
    }
    .pixfort_subscribe_12 .error{
        background: #FFDFDF;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFCACA;
        border-radius: 5px;
        font-weight: normal;
    }