/*
* FlatPack HTML V1
* Copyright 2014 PixFort
* www.pixfort.com
* 28/10/2014
*/


/* Table of Content
==================================================

	Part 0:  #Misc
	Part 1:  #Header
	Part 2:  #Contact
	Part 3:  #Features
	Part 4:  #Services
	Part 5:  #Clients
	Part 6:  #Video
	Part 7:  #Testimonials
	Part 8:  #Services2
	Part 9:  #Footer

==================================================
*/

/*---  Part 0:  #Misc  ---*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);

body{ font-family: 'Open Sans', sans-serif; !important; }

  .pixfort_hotel_5 iframe.c1 {border:none; overflow:hidden; height:20px;width:50px; }

/*---  Part 1: #Header  ---*/

     .pixfort_hotel_5 .header_style{background: #fff;
          padding: 25px 0px;
          border-bottom: 3px solid #ddd;
     }

    .pixfort_hotel_5 .yt_button{float: right;
          height: 32px;
          width: 32px;
          background: url("../images/Social_icons/yt.png");
          margin-left: 5px;
    }
    .pixfort_hotel_5 .yt_button:hover{background: url("../images/Social_icons/youtube-hover.png");
          float: right;
    }

    .pixfort_hotel_5 .twitter_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/twitter.png");
        margin-left: 5px;
    }
    .pixfort_hotel_5 .twitter_button:hover{float: right;
        background: url("../images/Social_icons/twitter-hover.png");
    }

    .pixfort_hotel_5 .facebook_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/facebook.png");
        margin-left: 5px;
    }
    .pixfort_hotel_5 .facebook_button:hover{float: right;
        background: url("../images/Social_icons/facebook-hover.png");
    }

    .pixfort_hotel_5 .htext_style  {color:#a9a9a9;
         font-size:14px;
        float: right;
        margin-right: 15px;
        padding-top: 5px;
    }

/*---  Part 2:  #Contact  ---*/

    .pixfort_hotel_5 .page_style {background: url("../images/5_hotel/Bg.png") #1f334a fixed no-repeat center top ;
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
    }

    .pixfort_hotel_5 .text_page {text-align: center;
    }

    .pixfort_hotel_5 .just_style {text-align: center;
          font-size:48px;
          font-family: 'open sans', sans-serif;
          font-weight: normal;
          color:#a9a9a9;
          padding-top: 110px;
    }

    .pixfort_hotel_5 .four_style {text-align: center;
          font-size:48px;
          font-family: 'open sans', sans-serif;
          font-weight: bold;
          color: #ffffff;
    }

    .pixfort_hotel_5 .red_segment{background-color: #cc333f;
          width: 60px;
          height: 5px;
          margin: 25px 0px;
          margin-left: auto;
          margin-right: auto;
    }

    .pixfort_hotel_5 .txt_start {text-align: center;
      	  color:#d3d3d3;
          font-size:18px;
          font-family: 'open sans', sans-serif;
          max-width: 65%;
          margin-left: auto;
          margin-right: auto;
    }

    .pixfort_hotel_5 .gethouse_btn a {background: #cc333f;
          border: none;
          border-radius: 3px;
          font-family: 'open sans', sans-serif;
          font-weight: normal;
          font-size: 18px;
          color: #fff;

          position: relative;
          display: inline-block;

          margin-top: 15px;
          margin-bottom: 20px;

          padding: 15px 30px;
          text-decoration: none;
    }

    .pixfort_hotel_5 .gethouse_btn a:hover {background: #c22731 ;
          border: none;
          border-radius: 3px;
          font-family: 'open sans', sans-serif;
          font-weight: normal;
          font-size: 18px;
          color: #fff;

     }

    .pixfort_hotel_5 .note_st {text-align: center;
          color:#f0fff0;
          font-size:13px;
          font-family: 'open sans', sans-serif;
          padding-bottom: 40px;
    }

/*---  Part 3:  #Features  ---*/

    .pixfort_hotel_5 .cal_style{background: #faf5f5;
    	background-size: cover;
    	font-family: 'open sans', sans-serif;
    	border-bottom: 3px solid #eadbdc;
        text-align: center;
    }

    .pixfort_hotel_5 .pad_top{padding-top: 30px;
    }

    .pixfort_hotel_5 .img_st{display: inline-block;
        position: relative;
        top: -15px;
    }

    .pixfort_hotel_5 .ctext_style{position: relative;
    	display: inline-block;
    	padding-left: 15px;
        top: -10px;
    	padding-bottom: 15px;
    }

    .pixfort_hotel_5 .calc_st{color:#696969;
        font-weight: bold;
        font-size: 16px;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_hotel_5 .calc_text {color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        max-width: 90%;
       margin-left: auto;
       margin-right: auto;
    }

/*---  Part 4:  #Services  ---*/

    .pixfort_hotel_5 .Homes {background: #fff;
    	background-size: cover;
        text-align: center;
    }

    .pixfort_hotel_5 .title_homes {text-align: center;
    	font-size:28px;
        font-weight: bold;
        color:#000000;
        font-family: 'open sans', sans-serif;
        padding-top: 50px;
    }

    .pixfort_hotel_5 .subtitle_homes {text-align: center;
        color: rgb(169, 169, 169);
        font-family: 'open sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        max-width: 60%;
        margin-left: 20%;
        padding-bottom: 15px;
    }

    .pixfort_hotel_5 .bg_Homes{background: #faf5f5;
        border-bottom: 3px solid #eadbdc;
        position: relative;
        max-width: 100%;
        border-radius: 3px;
    }

    .pixfort_hotel_5 .img_homes_st{
       display: inline-block;
        text-align: center;
        width:  220px;
        height: 200px;
        overflow: hidden;
        position: relative;
    }

    .pixfort_hotel_5 .img_homes_stimg img {
        margin-left:-100%;
        margin-right:-100%;
    }

    .pixfort_hotel_5 .text_homes_style{position: relative;
    	padding: 15px 0px;
    }

    .pixfort_hotel_5 .calc_homes_st{color:#000;
        font-weight: bold;
        font-size: 18px;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_hotel_5 .calc_homes_text{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
    }


    .pixfort_hotel_5 .perday_btn a{background: #cc333f;
        border: none;
    	border-radius: 2px;
    	font-family: 'open sans', sans-serif;
    	font-weight: normal;
    	font-size: 12px;
    	color: #fff;

        text-decoration: none;

         position: relative;
         display: inline-block;

          margin-bottom: 20px;

          padding: 5px 20px;
    }

    .pixfort_hotel_5 .perday_btn a:hover {background: #c22731;
        border: none;
    	border-radius: 2px;
    	font-family: 'open sans', sans-serif;
    	font-weight: normal;
    	font-size: 12px;
    	color: #fff;

    }

    .pixfort_hotel_5 .box_Homes{background: #faf5f5;
        //border-bottom: 3px solid #eadbdc;
        box-shadow: 0px -3px rgba(0,0,0,0.1) inset;
        text-align: left;
        width: 58%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 3px !important;
    }

    .pixfort_hotel_5 .box_text {position: relative;
        display: inline-block;
        text-align: left;
        margin-left: 20px;
        line-height: 100%;
    }

    .pixfort_hotel_5 .b1_homes_st{color:#000;
        font-weight: normal;
        font-size: 18px;
        font-family: 'open sans', sans-serif;
        text-align: left;
    }

    .pixfort_hotel_5 .b2_homes_st{color: rgb(169, 169, 169);
        font-weight: normal;
        font-size: 14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        position: relative;
        //top: -5px;
    }

    .pixfort_hotel_5 .Res_st{position: relative;
        display: inline-block;
        text-align: left;
        top: -15px;
        margin-left: 60px;
    }

    .pixfort_hotel_5 .Reservation_btn a{background: #cc333f;
        border: none;
    	border-radius: 3px;
    	font-family: 'open sans', sans-serif;
    	font-weight: normal;
    	font-size: 16px;
    	color: #fff;

        text-decoration: none;

        position: relative;
        display: inline-block;

        margin-bottom: 20px;

        padding: 12px 30px;
    }

    .pixfort_hotel_5 .Reservation_btn a:hover{background: #c22731;
    	color: #fff;
    }

/*---  Part 5:  #Clients  ---*/


    .pixfort_hotel_5 .logos_section{background: url("../images/5_hotel/BG.png") fixed no-repeat center top ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        text-align: center;
        padding: 40px 0px;
    }

    .pixfort_hotel_5 .logos_style img {padding-bottom: 20px;

    }


    .pixfort_hotel_5 .L1_style{
        color: #fff;
        font-size:20px;
        text-align: center;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_hotel_5 .L2_style{color:#a9a9a9;
        font-size: 16px;
        text-align: center;
        font-family: 'open sans', sans-serif;
        padding-bottom: 20px;
    }

    .pixfort_hotel_5 .logos_st{position: relative;
        display: inline-block;
        opacity:1;
    }

/*---  Part 6:  #Video  ---*/

    .pixfort_hotel_5 .New_Latest_Off{background: #fff;
        padding: 50px 0px;
    }

    .pixfort_hotel_5 .N1_style{color:#000000;
        font-family: 'open sans', sans-serif;
        font-size:28px;
        text-align: left;
        font-weight: bold;
    }

    .pixfort_hotel_5 .N2_style{color: rgb(169, 169, 169);
        text-align: left;
        font-family: 'open sans', sans-serif;
        font-size:16px;
        line-height: 26px;
    }

    .pixfort_hotel_5 .video_style iframe {padding-top: 25px;
      padding-bottom: 55px;
      width: 100%;
      height: 260px;
      text-align: center;

   }

/*---  Part 7:  #Testimonials  ---*/

    .pixfort_hotel_5 .envato_unbounce {background: #cc333f;
        text-align: center;
        font-family: 'open sans', sans-serif;
        padding: 40px 0px;
        border-bottom: 3px solid #b5232f;
    }

    .pixfort_hotel_5 .L3_style{color:#d3d3d3;
        font-size: 16px;
        text-align: center;
        font-family: 'open sans', sans-serif;
        padding-bottom: 20px;
    }

    .pixfort_hotel_5 .box_style{background: #faf5f5;
        border-radius: 5px;
        border-bottom: 3px solid #c9baba;
        width: 100%;
        margin-top: 40px;
        position: relative;
        display: inline-block;

    }

    .pixfort_hotel_5 .b_style img {background: #eadbdc;
        float:left;
        height: auto;
        width: 14%;
        height: auto;
        position: relative;
        display: inline-block;
        margin-left: 3%;
        margin-top: 20px;
    }

    .pixfort_hotel_5 .logo_style {border-radius: 100%;

    }

    .pixfort_hotel_5 .txt_style {background: #fff;
        float: right;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: 'open sans', sans-serif;
        width:80%;
        color:#808080;
        padding-top:  20px;
        padding-left: 1%;
        text-align: left;
        font-size: 14px;
        display: inline-block;
        position: relative;
    }

    .pixfort_hotel_5 .txt {width: 99%;

    }
    .pixfort_hotel_5 .testi_bottom{
        position: relative;
        top: -5px;
    }
    .pixfort_hotel_5 .env_st {color:#59a3fc;
        position: relative;
        top: -5px;
    }

/*---  Part 8:  #Services  ---*/

    .pixfort_hotel_5 .Room_Res{background: #fff;
        text-align: center;
        padding: 50px 0px;
    }

    .pixfort_hotel_5 .Get_Room{color:#000;
        font-size: 28px;
        text-align: center;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_hotel_5 .txt_Res{color:#808080;
        font-size: 14px;
        font-family: 'open sans', sans-serif;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }

    .pixfort_hotel_5 .Res_btn a{background: #cc333f;
        border: none;
        border-radius: 3px;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 18px;
        color: #fff;

        text-decoration: none;

        position: relative;
        display: inline-block;

        margin-bottom: 20px;

        padding: 20px 45px;
    }

    .pixfort_hotel_5 .Res_btn a:hover {background: #c22731 ;
        border: none;
        border-radius: 3px;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 18px;
        color: #fff;
    }

/*---  Part 9:  #Footer  ---*/

    .pixfort_hotel_5 .foot_st{background: #f2f2f2;
        text-align: center;
    }

    .pixfort_hotel_5 .rights_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding-top: 25px;
        position: relative;
        display: inline-block;

    }

    .pixfort_hotel_5 .pixfort_st{color:#cc333f;
        font-weight: bold;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        position: relative;
        display: inline-block;
    }

    .pixfort_hotel_5 .likes_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;

        position: relative;
        display: inline-block;
        padding-right: 15px;
        padding-top: 25px;
        float: right;
    }

    .pixfort_hotel_5 .socbuttons{
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 10px;
        width: 100%;

    }

    .pixfort_hotel_5 .soc_icons{background: rgba(0,0,0,0.1);
        border-radius: 3px;
        //width:40%;
        position: relative;
        display:inline-block;

        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;

        margin-top: 15px;
        float: right;
    }




  /* ------------------------------------------------------------------------------------ */

























   
