/*
* FlatPack HTML V1
* Copyright 2014 PixFort
* www.pixfort.com
* 28/10/2014
*/


/* Table of Content
==================================================

    Part 0: #Misc
    Part 1: #Header
    Part 2: #Contact
    Part 3: #Partners
    Part 4: #Features
    Part 5: #Services
    Part 6: #Testimonials
    Part 7: #Footer

==================================================
*/

/*---  Part 0: #Misc  ---*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);

body{ font-family: 'Open Sans', sans-serif; !important; }

iframe.c1 {border:none; overflow:hidden; height:20px;width:50px; }

/*---  Part 1: #Header  ---*/

     .pixfort_shop_7 .header_style{background: #fff;
          padding: 20px 0px;
          border-bottom: 3px solid #ddd;
     }

     .pixfort_shop_7 .shop_logo {
          vertical-align: middle;
     }

     .pixfort_shop_7 .icons{float: right;
        position: relative;
        display: inline-block;

     }

    .pixfort_shop_7 .yt_button{float: right;
          height: 32px;
          width: 32px;
          background: url("../images/Social_icons/yt.png");
          margin-left: 5px;
    }
    .pixfort_shop_7 .yt_button:hover{background: url("../images/Social_icons/youtube-hover.png");
          float: right;
    }

    .pixfort_shop_7 .twitter_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/twitter.png");
        margin-left: 5px;
    }
    .pixfort_shop_7 .twitter_button:hover{float: right;
        background: url("../images/Social_icons/twitter-hover.png");
    }

    .pixfort_shop_7 .facebook_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/facebook.png");
        margin-left: 5px;
    }
    .pixfort_shop_7 .facebook_button:hover{float: right;
        background: url("../images/Social_icons/facebook-hover.png");
    }

    .pixfort_shop_7 .htext_style{color:#a9a9a9;
        font-size:14px;
        float: right;
        margin-right: 15px;
        padding-top: 5px;
        display: inline-block;
    }

/*---  Part 2: #Contact  ---*/

    .pixfort_shop_7 .page_style {background: url("../images/7_shop_products/bg.png") #1f334a fixed no-repeat center top ;
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
    }

    .pixfort_shop_7 .left_box{text-align: left;
        display: inline-block;
        position: relative;
    }

    .pixfort_shop_7 .discount {//text-align: left;
          font-size: 40px;
          font-family: 'open sans', sans-serif;
          font-weight: normal;
          color:#ffffff;
          padding-top: 110px;
    }

     .pixfort_shop_7 .segment{
          background-color: #59a3fc;
          width: 80px;
          height: 6px;
          margin: 25px 0px;
    }

    .pixfort_shop_7 .shop_text{
        color:#f0ffff;
        font-size:20px;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        position: relative;
        max-width: 387px;
        line-height: 32px;
    }

    .pixfort_shop_7 .email_subscribe {position: relative;
        top: 15px;

        //border: 1px solid red;
    }


    .pixfort_shop_7 #contact_form  input{background: #fff;
        border-radius: 3px;
        color: #000;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        width:280px;
        height: 35px;

        padding-left: 10px;
        padding: 5px 5px !important;
        display: inline-block ;
    }


    .pixfort_shop_7 .subscribe_btn{background: linear-gradient(rgb(255, 149, 0), rgb(255, 94, 58)) no-repeat;
        border-radius: 3px;
        color: #fff;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 15px;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        padding: 14px 30px;
        //float: right;
        margin: 0 8px;
        border: none;
    }

    .pixfort_shop_7 .subscribe_btn:hover {background: linear-gradient(rgb(242, 130, 0), rgb(242, 75, 44)) no-repeat;
        color: #fff;
        border: none;
    }

    .pixfort_shop_7 .note_st {text-align: left;
          color:#f0fff0;
          font-size:13px;
          font-family: 'open sans', sans-serif;
          padding-bottom: 80px;
    }

    .pixfort_shop_7 .sold {text-align: center;
         margin-top: 130px;

         width: 98%;
         //margin-left: auto;
         //margin-right: auto;

         position: relative;
         display: inline-block;
    }

    .pixfort_shop_7 .center_img img{text-align: center;

    }

    .pixfort_shop_7 .txt_sold{display: inline-block;
    }

    .pixfort_shop_7 .s_per{font-size:50px;
        color:#ffffff;
        font-family: 'open sans', sans-serif;

        position: relative;
        top: -130px;
        left: 17px;
    }

    .pixfort_shop_7 .text_s{font-size:22px;
        color:#ffffff;
        font-family: 'open sans', sans-serif;

        position: relative;
        top: -130px;
        left: 17px;
    }

/*---  Part 3: #Partners  ---*/

    .pixfort_shop_7 .logos_sect{background: #eee;
        background-size: cover;
        text-align: center;
    }

    .pixfort_shop_7 .padd_updown{padding: 30px 0px;
        text-align: center;
        position: relative;
    }

    .pixfort_shop_7 .logos_width{ display: inline-block;
    }

    .pixfort_shop_7 .logos_width img{//max-width: 47%;
    }

/*---  Part 4: #Features  ---*/

    .pixfort_shop_7 .new_story{padding: 30px  0px;
    }

    .pixfort_shop_7 .zone_left{padding: 20px 0px;
       position: relative;
       display: inline-block;
       width: 100%;
    }

    .icon-1_st{background: linear-gradient(rgb(26, 214, 253), rgb(36, 102, 224));
        position: relative;
        width: 90px;
        height: 90px;
        text-align: center;
        border-radius: 45px;

        display: inline-block;
        //top: 15px;
    }

     .icon-2_st{background: linear-gradient(rgb(255, 94, 58), rgb(255, 42, 104));
        position: relative;
        width: 90px;
        height: 90px;
        text-align: center;
        border-radius: 45px;

        display: inline-block;
       // top: 15px;
    }

     .icon-3_st{background: linear-gradient(rgb(255, 219, 76), rgb(255, 205, 2));
        position: relative;
        width: 90px;
        height: 90px;
        text-align: center;
        border-radius: 45px;

        display: inline-block;
        //top: 15px;
    }

    .pixfort_shop_7 .icon_st {position: relative;
        display: inline-block;
        //float: left;
        top: 22%;

        width: 50%;
    }


    .pixfort_shop_7 .text_st{position: relative;
        display: inline-block;
        float: right;
        text-align: left;
        max-width: 76%;
        margin-left: 10px;
    }

    .pixfort_shop_7 .title_st{color:#666969;;
        font-size: 22px;
        font-family: 'open sans', sans-serif;
    }

    .pixfort_shop_7 .subject_st{color: rgb(169, 169, 169);
        font-size: 16px;
        font-family: 'open sans', sans-serif;
        line-height: 26px;
        position: relative;
        top: -8px;
    }

    .pixfort_shop_7 .pict_st img {max-width: 470px;
    }

/*---  Part 5: #Services  ---*/

    .pixfort_shop_7 .discount_section {background: #f6f6f6;
        padding: 60px 0px;
        text-align: center;
    }

    .pixfort_shop_7 .disco_1 {background: url(../images/7_shop_products/1.png)  no-repeat rgb(238, 238, 238);
        border-radius: 3px;
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;

    }

    .pixfort_shop_7 .disco_2 {background: url(../images/7_shop_products/2.png) no-repeat rgb(238, 238, 238);
        border-radius: 3px;
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;

    }

    .pixfort_shop_7 .disco_3 {background: url(../images/7_shop_products/3.png)  no-repeat rgb(238, 238, 238);
        border-radius: 3px;
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;

    }

    .pixfort_shop_7 .seg_dicount{background-color: #59a3fc;
        position: relative;
        width: 60px;
        height: 5px;
        margin: 25px 0px;

        top: 5px;
        left: 20px;
    }

    .pixfort_shop_7 .txt_1{color: #ffffff;
        position: relative;
        font-size: 20px;
        text-align: left;
        font-family: 'open sans', sans-serif;
        top: 20px;
        left: 20px;
    }

    .pixfort_shop_7 .txt_2{color: #d3d3d3;
        position: relative;
        font-size:16px;
        text-align: left;
        font-family: 'open sans', sans-serif;
        max-width: 210px;
        top: -10px;
        left: 20px;
        //border: 1px solid red;
    }

/*---  Part 6: #Testimonials  ---*/

     .pixfort_shop_7 .envato_unbounce {background: #fff;
        text-align: center;
        font-family: 'open sans', sans-serif;

    }


    .pixfort_shop_7 .L1_style{
        color:#808080;
        font-size:20px;
        text-align: center;
        line-height: 100%;
        font-family: 'open sans', sans-serif;
        padding-top: 30px;
    }

    .pixfort_shop_7 .L3_style{color:#a9a9a9;
        font-size: 16px;
        text-align: center;
        font-family: 'open sans', sans-serif;
        margin-bottom: 60px;

    }

    .pixfort_shop_7 .box_st {background: #f5f5f5;
        border-radius: 5px;
        border-bottom: 3px solid #ddd;

        position: relative;
        display: inline-block;

        margin-bottom: 20px;
    }


    .pixfort_shop_7 .b_style {
        position: relative;
        display: inline-block;
        float: left;
    }

    .pixfort_shop_7 .logo_style {border-radius: 100%;
         height: auto;
         margin-left: 10px;
         margin-top: 15px;
    }

    .pixfort_shop_7 .txt_style {background: #eee;
        float: right;
        font-family: 'open sans', sans-serif;
        color:#808080;
        max-width: 74%;
        padding:  10px 10px;
        text-align: left;
        font-size: 14px;
        display: inline-block;
        position: relative;
    }

    .pixfort_shop_7 .stars_st{width: 30%;
    }

    .pixfort_shop_7 .env_st {color:#59a3fc;
        position: relative;
        top: -2px;
    }


/*---  Part 7: #Footer  ---*/

   .pixfort_shop_7 .foot_st{background: #f6f6f6;
        text-align: center;
    }

     .pixfort_shop_7 .bg_foot{background: #f2f2f2;
        text-align: center;
    }

    .pixfort_shop_7 .rights_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding-top: 25px;
        position: relative;
        display: inline-block;
    }

    .pixfort_shop_7 .pixfort_st{color:#59a3fc;
        font-weight: bold;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        position: relative;
        display: inline-block;
    }

    .pixfort_shop_7 .likes_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        position: relative;
        display: inline-block;
        padding-right: 15px;
        padding-top: 25px;
        text-align: left;
    }


    .pixfort_shop_7 .socbuttons{
        height: 100%;
//        position: relative;
      //  display: inline-block;
  //      overflow: hidden;
        padding-bottom: 10px;
      //  width: 100%;

        display:inline;
    }


    .pixfort_shop_7 .soc_icons{background: rgba(0,0,0,0.1);
        border-radius: 3px;
        position: relative;
        display:inline-block;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 15px;
        float: right;
    }




  /* ------------------------------------------------------------------------------------ */



    .confirm_page{
        display:none;
        height: auto;
    }
    .confirm_page_7{
        background: #59a3fc; 
        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.3) !important;
        border-radius: 2px;
    }
    
    .pixfort_shop_7 .confirm_header{
        text-align: center;
        color:#fff;
        line-height: 35px;
        width: 500px;
        max-width: 100%;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 26px;
        padding-top: 40px;
    }
    .pixfort_shop_7 .sub_text {
        color: rgba(255,255,255,0.6);
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
    }
    .pixfort_shop_7 .code_text {
        color: #fff;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 22px;
    }
    .pixfort_shop_7 .code_text .box_div {
        background: rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 3px;
        display: inline-block;
    }
    .pixfort_shop_7 .confirm_text{
        text-align: center;
        font-size:16px;
        color:rgba(255,255,255,0.9);
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .pixfort_shop_7 .confirm_logo{
        text-align: center;
        padding: 20px;
    }
    .pixfort_shop_7 .confirm_social{
        text-align: center;
    }
    .pixfort_shop_7 .confirm_social .confirm_social_box{
         background: rgba(0,0,0,0.1);
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        padding: 10px 6px;
        border-radius: 3px;
        padding-bottom: 0px;
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2) !important;
    }
    .pixfort_shop_7 .confirm_gp {
        position: relative;
        top: -15px !important;
        padding: 0px 20px;
    }


    .pixfort_shop_7 .success{
        background: #CFFFF5;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #B9ECCE;
        border-radius: 5px;
        font-weight: normal;
    }
    .pixfort_shop_7 .error{
        background: #FFDFDF;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFCACA;
        border-radius: 5px;
        font-weight: normal;
    }