/*
* FlatPack HTML V1
* Copyright 2014 PixFort
* www.pixfort.com
* 28/10/2014
*/


/* Table of Content
==================================================

    Part 0: #Misc
    Part 1: #Header & Contact
    Part 2: #Features
    Part 3: #Video
    Part 4: #Services
    Part 5: #Partners
    Part 6: #Footer

==================================================
*/

/*  Part 0: #Misc     */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);

body{ font-family: 'Open Sans', sans-serif; !important; }

.pixfort_ebook_9 iframe.c1 {border:none; overflow:hidden; height:20px;width:50px; }

/*  Part 1: #Header & Contact     */


    .pixfort_ebook_9 .page_style {background: url("../images/9_ebook/bg.png")  #7d9797 fixed no-repeat center bottom ;
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
        padding-top: 60px;
    }

    .pixfort_normal_1 .social_button {
     -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;   
         float: right;
         margin-left: 7px;
    }
    .pixfort_normal_1 .social_button:hover{
        opacity: 0.7;
    }

    .pixfort_ebook_9 .logo {float: left;
        padding-bottom: 90px;
    }

    .pixfort_ebook_9 .text_input{position: relative;
        display: inline-block;
        width: 100%;
        float: right;
        //padding-left:20px;
        padding-right:50px;
        box-sizing:border-box;
    }

    .pixfort_ebook_9 .headtext_style{color:#ffffff;
    	font-size:26px;
    	font-family: 'open sans', sans-serif;
        line-height: 100%;
        padding-top: 60px;
    }

    .pixfort_ebook_9 .segment{background: #ff2a68;
        width: 80px;
        height: 6px;
        margin: 25px 0px;
    }

    .pixfort_ebook_9 .subtext_style {color:#e6e6fa;
        font-size:18px;
    	font-family: 'open sans', sans-serif;
        max-width:357px;
        padding-bottom: 20px;
    }

     .pixfort_ebook_9 .contact_st fieldset{position: relative;
        display: inline-block;
        width: 100%;
    }

    .pixfort_ebook_9 #contact_form {position: relative;
    }

    .pixfort_ebook_9 #contact_form  input {position: relative;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 3px;
        color: #888;
        font-family: 'open sans', sans-serif;
        font-weight: normal;
        font-size: 16px;

        width: 100%;
        height: 48px;

        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .pixfort_ebook_9 .subscribe_btn {background: linear-gradient(rgb(255, 94, 58), rgb(255, 42, 104)) no-repeat;
      	padding: 30px 30px 5px 15px;
      	border: none;
      	border-radius: 3px;
      	//padding-top: 50px;
      	color: #fff;

      	margin: 0;
      	padding: 10px;
        position: relative;

      	width: 100%;
      	height: 48px;

      	font-family: 'open sans', sans-serif;
      	font-weight: normal;
      	font-size: 16px;
    }


    .pixfort_ebook_9 .subscribe_btn:hover {background: linear-gradient(rgb(242, 32, 85), rgb(242, 75, 44)) no-repeat;
      	padding: 30px 30px 5px 15px;
        position: relative;
      	border: none;

      	border-radius: 5px;
      	//padding-top: 50px;
      	color: #fff;
      	margin: 0;
      	padding: 10px;
    }

    .pixfort_ebook_9 .book_pict{max-width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        text-align: left;
    }

    .pixfort_ebook_9 .htext_style{color:#ffffff;
        font-size:14px;
        text-align: center;
        padding: 20px 0px;
    }

    .pixfort_ebook_9 .soc_logos {text-align: center;
        margin-bottom: 50px;
        //border: 1px solid red;
    }


  .pixfort_ebook_9 .trees{width: 100%;
        margin-left: auto; margin-right: auto;
        margin-bottom: -30px;

  }

 /*  Part 2: #Features     */

    .pixfort_ebook_9 .chapters {background: linear-gradient(rgb(255, 94, 58), rgb(255, 42, 104)) no-repeat;
        background-size: cover;
        padding-top: 65px;
        padding-bottom: 30px;
    }

    .pixfort_ebook_9 .title_chapter{color:#ffffff;
        font-family:  open sans, sans-serif;
        font-size:22px;
        font-weight: 500;


    }

    .pixfort_ebook_9 .text_chapter{color:#ffccff;
        font-family:  open sans, sans-serif;
        font-size:14px;
        font-weight: normal;
        display: inline-block;
    }



 /* Part 3:  #Video        */

    .pixfort_ebook_9 .amazing_ebook {background:  #fff;
        text-align: center;
        padding: 70px 0px;
    }



    .pixfort_ebook_9 .TT1 {color: rgb(0, 0, 0);
        text-align: left;
        font-size: 26px;
        font-family:  open sans, sans-serif;
        font-weight: 600;
        line-height: 150%;
    }

    .pixfort_ebook_9 .TT2 {color:#808080;
        text-align: left;
        font-size: 18px;
        font-family:  open sans, sans-serif;
        padding-bottom: 15px;
    }

    .pixfort_ebook_9 .TT3 {color:#a9a9a9;
        text-align: left;
        font-size: 16px;
        font-family:  open sans, sans-serif;
        padding-bottom: 30px;
        max-width: 95%;
    }


    .pixfort_ebook_9 .down_box{float: left;
        text-align: left;
        max-width: 70%;
        padding: 10px 20px;
        border-radius: 3px;
        display: inline-block;
        border: 2px solid #eee;
    }

    .pixfort_ebook_9 .download_st{color:#808080;
        font-size:16px;
        font-family:  open sans, sans-serif;
    }

    .pixfort_ebook_9 .times_st{color:#ff2a68;
        font-size:16px;
        font-family:  open sans, sans-serif;
    }

    .pixfort_ebook_9 .video_style iframe {position: relative;
          display: inline-block;
          width: 100%;
          margin-bottom: 0px;
    }

/*  Part 4:  #Services    */

    .pixfort_ebook_9 .writers_section{background: #eee;
        text-align: center;
        padding-top: 40px;
    }

    .pixfort_ebook_9 .title_st{color:#000000;
        font-size:20px;
        font-weight: 600;
        line-height: 100%;
        font-family:  open sans, sans-serif;
    }

    .pixfort_ebook_9 .subtitle_st{color:#a9a9a9;
        font-size: 16px;
        line-height: 100%;
        font-family:  open sans, sans-serif;
        padding-bottom: 40px;
    }

    .pixfort_ebook_9 .b_style {
        position: relative;
        display: inline-block;
        float: left;
    }

    .pixfort_ebook_9 .logo_style {border-radius: 100%;
         height: auto;
         border: 5px solid #fff;
    }

    .pixfort_ebook_9 .author_text{font-family:  open sans, sans-serif;
        max-width: 270px;
        margin-left: 20px;
        position: relative;
        display: inline-block;
        text-align: left;
    }

    .pixfort_ebook_9 .name_st{color: #000;
        font-size:22px;
        font-weight: 400;
        line-height: 100%;
        font-family:  open sans, sans-serif;
    }

    .pixfort_ebook_9 .job_st{color:#ff2a68;
        font-size:12px;
        font-style:italic;
        line-height: 100%;
        padding-bottom: 10px;
        font-family:  open sans, sans-serif;

    }

    .pixfort_ebook_9 .details_st{color:#808080;
        font-size:14px;
        font-family:  open sans, sans-serif;

    }

    .pixfort_ebook_9 .icons_st {background: #fff;
        padding: 5px 25px;
        border-radius: 3px;
        text-align: left;
        position: relative;
        display: inline-block;
        margin-bottom: 40px;
    }




     .pixfort_ebook_9 .yt_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/yt.png");
        margin-left: 10px;

    }

    .pixfort_ebook_9 .yt_button:hover{background: url("../images/Social_icons/youtube-hover.png");
        float: right;
    }

    .pixfort_ebook_9 .twitter_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/twitter.png");
        margin-left: 10px;
    }

    .pixfort_ebook_9 .twitter_button:hover{float: right;
        background: url("../images/Social_icons/twitter-hover.png");
    }

    .pixfort_ebook_9 .facebook_button{float: right;
        height: 32px;
        width: 32px;
        background: url("../images/Social_icons/facebook.png");
    }

    .pixfort_ebook_9 .facebook_button:hover{float: right;
        background: url("../images/Social_icons/facebook-hover.png");
    }


/*  Part 5:  #Partners    */

    .pixfort_ebook_9 .download_section {background: #fff;
        padding: 40px 0px;
        text-align: center;
    }

    .pixfort_ebook_9 .down_title{color: #000;
      font-size:28px;
      font-family:  open sans, sans-serif;
    }

    .pixfort_ebook_9 .down_subtitle{color: rgb(169, 169, 169);
      font-size:16px;
      font-family:  open sans, sans-serif;
      max-width: 400px;
      margin-left: auto; margin-right:auto;
    }

    .pixfort_ebook_9 .getebook_btn a {background: #fff;
          border: none;
          border-radius: 3px;
          font-family: 'open sans', sans-serif;
          font-weight: bold;
          font-size: 16px;
          color: #ff2a68;
          border: 3px solid #ff2a68;

          position: relative;
          display: inline-block;

          margin-top: 15px;
          margin-bottom: 20px;

          padding: 15px 30px;
          text-decoration: none;
           -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
    }

    .pixfort_ebook_9 .getebook_btn a:hover {background: #ff2a68;
          color: #fff;
     }

    .pixfort_ebook_9 .padd_updown{text-align: center;
        position: relative;
        padding-top: 40px;
    }

    .pixfort_ebook_9 .logos_width{ display: inline-block;
    }



 /*  Part 6: #Footer     */

    .pixfort_ebook_9 .foot_st{background: #ececec;
        text-align: center;
    }

    .pixfort_ebook_9 .rights_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        padding-top: 25px;
        position: relative;
        display: inline-block;
    }

    .pixfort_ebook_9 .pixfort_st{color:#ff2a68;
        font-weight: bold;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        text-align: left;
        position: relative;
        display: inline-block;
    }

    .pixfort_ebook_9 .likes_st{color:#a9a9a9;
        font-size:14px;
        font-family: 'open sans', sans-serif;
        position: relative;
        display: inline-block;
        padding-right: 15px;
        padding-top: 25px;
        float: right;
        
    }

    .pixfort_ebook_9 .socbuttons{
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 10px;
        width: 100%;
    }

    .pixfort_ebook_9 .soc_icons{
        border-radius: 3px;
        position: relative;
        display:inline-block;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 15px;
        float: right;
    }




  /* ------------------------------------------------------------------------------------ */





    .confirm_page{
        display:none;
        height: auto;
    }
    .confirm_page_9{
        background: linear-gradient(rgb(255, 94, 58), rgb(255, 42, 104)) no-repeat;
        background-size: cover;
        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.3) !important;
        border-radius: 2px;
    }
    
    .pixfort_ebook_9 .confirm_header{
        text-align: center;
        color:#fff;
        line-height: 35px;
        width: 500px;
        max-width: 100%;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 26px;
        padding-top: 40px;
    }
    .pixfort_ebook_9 .sub_text {
        color: rgba(255,255,255,0.6);
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
    }
    .pixfort_ebook_9 .code_text {
        color: #fff;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 22px;
    }
    
    .pixfort_ebook_9 .confirm_text{
        text-align: center;
        font-size:16px;
        color:rgba(255,255,255,0.5);
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .pixfort_ebook_9 .download_button {
        background: #fff;
        color: rgb(255, 42, 104);
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 16px;
        font-weight: bold;
        -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
    }
    .pixfort_ebook_9 .download_button:hover{
        background: rgba(255,255,255,0.9);
    }
    .pixfort_ebook_9 .confirm_logo{
        text-align: center;
        padding: 20px;
    }
    .pixfort_ebook_9 .confirm_social{
        text-align: center;
    }
    .pixfort_ebook_9 .confirm_social .confirm_social_box{
        background: rgba(0,0,0,0.1);
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        padding: 10px 10px;
        border-radius: 3px;
        padding-bottom: 0px;
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2) !important;
    }
    .pixfort_ebook_9 .confirm_gp {
        position: relative;
        top: -15px !important;
        padding: 0px 20px;
    }


    .pixfort_ebook_9 .success{
        background: #CFFFF5;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #B9ECCE;
        border-radius: 5px;
        font-weight: normal;
    }
    .pixfort_ebook_9 .error{
        background: #FFDFDF;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFCACA;
        border-radius: 5px;
        font-weight: normal;
    }