/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {




        .pixfort_app_3 .img_st img { width: 100%; margin: 0; text-align: center;         }

        .pixfort_app_3 .Designs_style{padding: 0;      }
        .pixfort_app_3 .Designs_text_style {padding-left: 0px; text-align: center; padding-top: 20px;        }

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {



        .pixfort_app_3 .phones {vertical-align: bottom;  margin-top: 30px; }

        .pixfort_app_3 .amazing_img4_st      {width: 100%; height: 400px; text-align: center; padding-top: 50px;    }
        .pixfort_app_3 .colorful_img4_st img {width: 100%; height: 450px; text-align: center; padding-top: 50px;    }


        .pixfort_app_3 .colorful{text-align: center; float: none;}

        .pixfort_app_3 .amazing{text-align: center; float: none; width: 100%;margin-left: auto; margin-left: auto;}
        .pixfort_app_3 .amazing_style {padding: 20px 0px;  }
        .pixfort_app_3 .amaz_tit{padding-top: 40px;        }
        .pixfort_app_3 .amazing_text_style {text-align: center; float: none;      }
        .pixfort_app_3 .suite {top: 0;    text-align: center;         }



        .pixfort_app_3 .img_st img { width: 100%; margin: 0; text-align: center;         }
        .pixfort_app_3 .Designs_style{padding: 0;      }
        .pixfort_app_3 .Designs_text_style {padding-left: 0px; text-align: center; padding-top: 20px;        }

        .pixfort_app_3 .rights_st {float: none;text-align: center;   }
        .pixfort_app_3 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_app_3 .socbuttons {text-align: center; }
        .pixfort_app_3 .soc_icons {float: right;text-align: center;  }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

        .pixfort_app_3 .hbloc_style  {float: none;text-align: center; padding-bottom: 20px;       }

        .pixfort_app_3 .phones_style img{float: none;text-align: center; margin-right: 0px; padding-top: 0px;      }
        .pixfort_app_3 .phones {width: 100%; height: 250px; }

        .pixfort_app_3 .pad_top{text-align: center;        }



        .pixfort_app_3 .colorful{text-align: center; }

        .pixfort_app_3 .amazing{text-align: center; float: none; width: 100%;margin-left: auto; margin-left: auto;}

        .pixfort_app_3 .amazing_style {padding: 20px 0px;  }
        .pixfort_app_3 .amaz_tit{padding-top: 40px;        }
        .pixfort_app_3 .amazing_text_style {padding: 0;text-align: center; float: none;  max-width: 100%;      }
        .pixfort_app_3 .suite {top: 0;    text-align: center;         }

        .pixfort_app_3 .img_st img { width: 100%; margin: 0; text-align: center;         }
        .pixfort_app_3 .Designs_style{padding: 0;      }
        .pixfort_app_3 .Designs_text_style {padding-left: 0px; text-align: center;  padding-top: 20px;       }

        .pixfort_app_3 .rights_st {float: none;text-align: center;   }
        .pixfort_app_3 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_app_3 .socbuttons {text-align: center; }
        .pixfort_app_3 .soc_icons {float: none;text-align: center;  }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

        .pixfort_app_3 .hbloc_style  {float: none;text-align: center; padding-top: 0px;       }
        .pixfort_app_3 .phones_style img{float: none;text-align: center; margin-right: 0px; padding-top: 0px;      }
        .pixfort_app_3 .phones {width: 100%; height: 250px; }

        .pixfort_app_3 .pad_top{text-align: center;        }

        .th1_style, .pixfort_app_3 .th2_style {margin-bottom: 30px;          }

        .pixfort_app_3 .amazing_img4_st      {width: 100%; height: 400px; text-align: center;     }
        .pixfort_app_3 .colorful_img4_st img {width: 100%; height: 400px; text-align: center;     }

        .pixfort_app_3 .colorful{text-align: center; float: none;}

        .pixfort_app_3 .amazing{text-align: center; float: none; width: 100%;margin-left: auto; margin-left: auto;}
        .pixfort_app_3 .amazing_style {padding: 20px 0px;  }
        .pixfort_app_3 .amaz_tit{padding-top: 40px;        }
        .pixfort_app_3 .text2_style{top: 10px; }

        .pixfort_app_3 .amazing_text_style {padding: 0;text-align: center; float: none;  max-width: 100%;      }

        .pixfort_app_3 .suite {top: 0;    text-align: center;         }

        .pixfort_app_3 .img_st img { width: 100%; margin: 0; text-align: center;         }

        .pixfort_app_3 .Designs_style{padding: 0;      }
        .pixfort_app_3 .Designs_text_style {padding-left: 0px; text-align: center; padding-top: 20px;        }

        .pixfort_app_3 .rights_st {float: none;text-align: center;   }
        .pixfort_app_3 .likes_st { margin: 0; padding-right: 0px;   float: none; text-align: center; }
        .pixfort_app_3 .socbuttons {text-align: center;  }
        .pixfort_app_3 .soc_icons {float: right;text-align: center;  }



	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        .pixfort_app_3 .logo_st {float: none;text-align: center;   }

        .pixfort_app_3 .soc_st{float: none;text-align: center; margin-right: 0px;  }

        .pixfort_app_3 .hbloc_style  {float: none;text-align: center; padding-top: 0px;       }
        .pixfort_app_3 .phones_style img{float: none;text-align: center; margin-right: 0px; padding-top: 0px;      }
        .pixfort_app_3 .phones {width: 100%; height: 250px; }


        .pixfort_app_3 .pad_top{text-align: center;        }

        .th1_style, .pixfort_app_3 .th2_style {margin-bottom: 30px;          }

        .pixfort_app_3 .amazing_img4_st      {width: 100%; height: 300px; text-align: center;     }
        .pixfort_app_3 .colorful_img4_st img {width: 100%; height: 300px; text-align: center;     }

        .pixfort_app_3 .colorful{text-align: center;}

        .pixfort_app_3 .amazing{text-align: center; float: none; }
        .pixfort_app_3 .amazing_style {padding: 20px 0px;  }
        .pixfort_app_3 .amaz_tit{padding-top: 40px;        }
        .pixfort_app_3 .amaz_text{width: 100%;        }

        .pixfort_app_3 .amazing_text_style {padding: 0;text-align: center; float: none;  max-width: 100%;      }
        .pixfort_app_3 .suite {top: 0;    text-align: center;         }

        .pixfort_app_3 .img_st img { width: 100%; margin: 0; text-align: center;         }
        .pixfort_app_3 .img2_st{padding-bottom: 15px;   }
        .pixfort_app_3 .img3_st{padding-bottom: 25px;    }
        .pixfort_app_3 .Designs_text_style{padding-left: 0px; text-align: center; padding-top: 20px;       }

        .pixfort_app_3 .rights_st {float: none;text-align: center;   }
        .pixfort_app_3 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_app_3 .socbuttoms {text-align: center;  margin-left: 0px; float: none;}
        .pixfort_app_3 .soc_icons {float: none;text-align: center; }

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/