/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        .pixfort_real_estate_4 .Home_photo {width: 100%; height: 200px;}
        .pixfort_real_estate_4 .Home_info {width: 100%;      height: auto;	   }


	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

        .pixfort_real_estate_4 .Home_photo {width: 100%;
          height: 200px;}
        .pixfort_real_estate_4 .Home_info {width: 100%;    height: auto;	   }

        .pixfort_real_estate_4 .box_style{ width: 95%; }
        .pixfort_real_estate_4 .b_style img {width: 15%;   height: auto; margin-top: 40px;   }
        .pixfort_real_estate_4 .txt_style {padding-left: 15px; padding-right: 8px;    }

        .pixfort_real_estate_4 .rights_st {float: none;text-align: center;   }
        .pixfort_real_estate_4 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_real_estate_4 .socbuttons {text-align: center; }
        .pixfort_real_estate_4 .soc_icons {float: right;text-align: center; }

	}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        .pixfort_real_estate_4 .Home_photo {width: 100%;
          height: 100%;}
        .pixfort_real_estate_4 .Home_info {width: 100%;    height: auto;	   }

        .pixfort_real_estate_4 .b_style img {width: 15%;   height: auto; margin-top: 40px;   }
        .pixfort_real_estate_4 .txt_style {padding-left: 10px; padding-right: 10px;   }

        .pixfort_real_estate_4 .rights_st {float: none;text-align: center;   }
        .pixfort_real_estate_4 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_real_estate_4 .socbuttons {text-align: center;  }
        .pixfort_real_estate_4 .soc_icons {float: right;text-align: center; }


       }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

        .pixfort_real_estate_4 .Home_photo {width: 100%;      height: 100%;   }
        .pixfort_real_estate_4 .Home_info {width: 100%;      height: auto;}

        .pixfort_real_estate_4 .comp_logos {width: 100%;  }


        .pixfort_real_estate_4 .Designs_text_style{ text-align: center; top: 30px;         }

        .pixfort_real_estate_4 .b_style img {width: 15%;   height: auto; margin-top: 30px;   }
        .pixfort_real_estate_4 .txt_style {padding-left: 15px; padding-right: 13px;  }

        .pixfort_real_estate_4 .rights_st {float: none;text-align: center;   }
        .pixfort_real_estate_4 .likes_st { margin: 0; padding-right: 0px;  float: none; text-align: center; }
        .pixfort_real_estate_4 .socbuttons {text-align: center; }
        .pixfort_real_estate_4 .soc_icons {float: right;text-align: center;}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        .pixfort_real_estate_4 .htext_style {margin-right: 0px; }

        .pixfort_real_estate_4 .Home_photo {width: 100%; height: auto;}


        .pixfort_real_estate_4 .comp_logos {width: 100%;  }

        .pixfort_real_estate_4 .Designs_text_style{ text-align: center;  top: 30px;         }

        .pixfort_real_estate_4 .box_style{width: 100%; }
        .pixfort_real_estate_4 .b_style img {width: 15%;   height: auto; margin-top: 40px;   }
        .pixfort_real_estate_4 .txt_style {padding-left: 10px; padding-right: 10px;   }


        .pixfort_real_estate_4 .rights_st {float: none;text-align: center;   }
        .pixfort_real_estate_4 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_real_estate_4 .socbuttons {text-align: center;  }
        .pixfort_real_estate_4 .soc_icons {float: none;text-align: center; }

	      }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/