/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

        .pixfort_shop_7 .box_1 {margin-left: 20px;   padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .box_2 {margin-right: 20px;  padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .b_style {float: none; width: 100%; text-align: center; }
        .pixfort_shop_7 .txt_style { max-width: 100%; text-align: left; padding: 10px 10px; }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

        .pixfort_shop_7 .left_box {text-align: center;     }
        .pixfort_shop_7 .segment {margin-left: auto; margin-right: auto;    }
        .pixfort_shop_7 .subscribe_btn a{float: none; }
        .pixfort_shop_7 .note_st {text-align: center; padding-bottom: 80px; }



        .pixfort_shop_7 .icon-1_st, .pixfort_shop_7 .icon-2_st, .pixfort_shop_7 .icon-3_st {margin-left: auto; margin-right: auto; display: block;        }
        .pixfort_shop_7 .text_st{max-width: 100%; text-align: center; float: none; margin-left:  0; padding-top: 20px; }
        .pixfort_shop_7 .pict_st img {max-width: 100%; margin-left: auto; margin-right: auto; margin-top: 150px; }

        .pixfort_shop_7 .box_1 {margin-left: 20px;   padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .box_2 {margin-right: 20px;  padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .b_style {float: none; width: 100%; text-align: center; }
        .pixfort_shop_7 .txt_style { max-width: 100%; text-align: left; padding: 10px 10px; }

        .pixfort_shop_7 .rights_st {float: none;text-align: center;   }
        .pixfort_shop_7 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_shop_7 .socbuttons {text-align: center;  }

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

        .pixfort_shop_7 .left_box {text-align: center;     }
        .pixfort_shop_7 .segment {margin-left: auto; margin-right: auto;    }
        .pixfort_shop_7 .subscribe_btn a{float: none; }
         .pixfort_shop_7 .note_st {text-align: center; padding-bottom: 80px; }



        .pixfort_shop_7 .icon-1_st, .pixfort_shop_7 .icon-2_st, .pixfort_shop_7 .icon-3_st {margin-left: auto; margin-right: auto; display: block;        }
        .pixfort_shop_7 .text_st{max-width: 100%; text-align: center; float: none; margin-left:  0; padding-top: 20px; }
        .pixfort_shop_7 .pict_st img {max-width: 100%; margin-left: auto; margin-right: auto; margin-top: 150px; }




        .pixfort_shop_7 .box_1, .pixfort_shop_7 .box_2 {margin: 0px 20px;       padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .b_style {float: none; width: 100%; text-align: center; }
        .pixfort_shop_7 .txt_style { max-width: 100%; text-align: left; padding: 10px 10px; }


        .pixfort_shop_7 .rights_st {float: none;text-align: center;   }
        .pixfort_shop_7 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_shop_7 .socbuttons {text-align: center;   }

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

        .pixfort_shop_7 .left_box {text-align: center;     }
        .pixfort_shop_7 .segment {margin-left: auto; margin-right: auto;    }
        .pixfort_shop_7 .subscribe_btn a{float: none; }
        .pixfort_shop_7 .note_st {text-align: center; padding-bottom: 80px; }

        .pixfort_shop_7 .sold {margin-top: -70px;  }

        .pixfort_shop_7 .logos_width img {max-width: 100%;  text-align: center;      }

        .pixfort_shop_7 .icon-1_st, .pixfort_shop_7 .icon-2_st, .pixfort_shop_7 .icon-3_st {margin-left: auto; margin-right: auto; display: block;        }
        .pixfort_shop_7 .text_st{max-width: 100%; text-align: center; float: none; margin-left:  0; padding-top: 20px; }
        .pixfort_shop_7 .pict_st img {max-width: 100%; margin-left: auto; margin-right: auto;}


        .pixfort_shop_7 .disco_1  {width: 300px; margin-left: auto; margin-right: auto; bottom: 20px;       }
        .pixfort_shop_7 .disco_2  {width: 300px; margin-left: auto; margin-right: auto;        }
        .pixfort_shop_7 .disco_3  {width: 300px; margin-left: auto; margin-right: auto; top: 20px;      }

       .pixfort_shop_7 .box_1, .pixfort_shop_7 .box_2 {margin: 0px 20px;       padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .b_style {float: none; width: 100%; text-align: center; }
        .pixfort_shop_7 .txt_style { max-width: 100%; text-align: left; padding: 10px 10px; }

        .pixfort_shop_7 .rights_st {float: none;text-align: center;   }
        .pixfort_shop_7 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_shop_7 .socbuttons {text-align: center;  }

       	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        .pixfort_shop_7 .htext_style{margin-right: 0px;        }

        .pixfort_shop_7 .left_box {text-align: center;     }
        .pixfort_shop_7 .segment {margin-left: auto; margin-right: auto;    }
        .pixfort_shop_7 .subscribe_btn a{float: none; }
        .pixfort_shop_7 .note_st {text-align: center; padding-bottom: 80px; }

        .pixfort_shop_7 .sold {margin-top: -70px;  }


        .pixfort_shop_7 .logos_width img {max-width: 100%;  text-align: center;      }

        .pixfort_shop_7 .icon-1_st, .pixfort_shop_7 .icon-2_st, .pixfort_shop_7 .icon-3_st {margin-left: auto; margin-right: auto; display: block;        }
        .pixfort_shop_7 .text_st{max-width: 100%; text-align: center; float: none; margin-left:  0; padding-top: 20px; }
        .pixfort_shop_7 .pict_st img {max-width: 100%; margin-left: auto; margin-right: auto; margin-top:30px;}

        .pixfort_shop_7 .disco_1 {width: 90%; margin-left: auto; margin-right: auto; bottom: 20px;       }
        .pixfort_shop_7 .disco_2 {width: 90%; margin-left: auto; margin-right: auto;        }
        .pixfort_shop_7 .disco_3 {width: 90%; margin-left: auto; margin-right: auto; top: 20px;      }


        .pixfort_shop_7 .box_1, .pixfort_shop_7 .box_2 {margin: 0px 20px;       padding-top: 10px; margin-bottom: 20px;}
        .pixfort_shop_7 .b_style {float: none; width: 100%; text-align: center; }
        .pixfort_shop_7 .txt_style { max-width: 100%; text-align: left; padding: 10px 10px; }

        .pixfort_shop_7 .rights_st {float: none;text-align: center;   }
        .pixfort_shop_7 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center;}
        .pixfort_shop_7 .socbuttons {text-align: center;  float: none;}
        .pixfort_shop_7 .soc_icons {float: none;text-align: center; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/