body {
  background: url("../gambar/latar.jpg") center center fixed;
  background-size: cover;
}
.jumbotron {
  background: transparent;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.isi * {
  text-align: justify;
}