* {
  word-wrap: break-word;
}
body {
  background: url("../gambar/latar blogspot/laut.png");
}
.jumbotron {
  background: transparent;
/*   color: #fff; */
/*   font-family: Georgia, "Times New Roman", Times, serif; */
}
.jumbotron h1 {
  font-weight: bold;
}
.jumbotron a {
  color: inherit;
}
.jumbotron a:hover {
  text-decoration: none;
}
.isi * {
  text-align: justify;
}
.isi h1,
.isi p:nth-child(2) em {
  text-align: center;
  display: block;
}
.isi p:nth-child(2) em {
  margin-bottom: 25px;
}
.isi blockquote p:nth-child(2) em {
  display: initial;
}