* {
  word-wrap: break-word;
}
body {
  background: url("../gambar/latar.jpg") center center fixed;
  background-size: cover;
}
.jumbotron {
  background: transparent;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.jumbotron a {
  color: inherit;
}
.jumbotron a:hover {
  text-decoration: none;
}
.isi * {
  text-align: justify;
}
.isi h1,
.isi p:nth-child(2) em {
  text-align: center;
  display: block;
}
.isi p:nth-child(2) em {
  margin-bottom: 25px;
}